/* CSS files add styling rules to your content */

body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: black;
}

.container div {
  position: absolute;
  border-radius: 25px;

  width: 50%;
  height: 20%;

  animation: rotation 20s infinite linear, skewing 15s infinite linear;
  
  
  /*
  background: hsla(120,100% 50%, 0.33);
  background: -moz-radial-gradient(
    center,
    hsla(0,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
  */
  background: -webkit-radial-gradient(
    center,
    hsla(0,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
  /*
  background: radial-gradient(
    ellipse at center,
    hsla(120,100%, 50%, 0.33) 0%,
    hsla(120,100%, 50%, 0) 50%
  );
  */
}

#d1 {
  animation: rotation 30s infinite linear, opacity 41s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(0,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
  
  
  
}

#d2 {
  animation: rotation 31s infinite linear, opacity 40s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(30,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}

#d3 {
  animation: rotation 32s infinite linear, opacity 39s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(60,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}

#d4 {
  animation: rotation 33s infinite linear, opacity 38s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(90,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}

#d5 {
  animation: rotation 34s infinite linear, opacity 37s alternate infinite linear;
    background: -webkit-radial-gradient(
    center,
    hsla(120,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );

}

#d6 {
  animation: rotation 35s infinite linear, opacity 36s alternate infinite linear;
    background: -webkit-radial-gradient(
    center,
    hsla(150,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );

}

#d7 {
  animation: rotation 36s infinite linear, opacity 35s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(180,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}


#d8 {
  animation: rotation 37s infinite linear, opacity 34s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(210,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}

#d9 {
  animation: rotation 38s infinite linear, opacity 33s alternate infinite linear;
    background: -webkit-radial-gradient(
    center,
    hsla(240,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );

}



#d10 {
  animation: rotation 39s infinite linear, opacity 32s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(270,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}



#d11 {
  animation: rotation 40s infinite linear, opacity 31s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(300,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}



#d12 {
  animation: rotation 41s infinite linear, opacity 30s alternate infinite linear;
  background: -webkit-radial-gradient(
    center,
    hsla(330,100%, 50%, 0.33) 0%,
    hsla(0,100%, 50%, 0) 50%
  );
}


@keyframes rotation {
  from {
/*    z-index: 0;*/
    transform: rotate(0deg) skew(180deg, 180deg);
  }
  to {
/*    z-index: 12;*/
    transform: rotate(359deg) skew(0deg, 0deg);
  }
}

@keyframes skewing {
  from{
    transform: skew(15deg, 15deg);    
  }
  to{
    transform: skew(0deg, 0deg);    
  }
}

@keyframes opacity{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    
  }
}
