/*
VERSION 1.2
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background: rgba(170,96,96,0.11);
    color: #FF7A2B;
    font-family: 'Montserrat', sans-serif;
}



.maxed::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.maxed::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.site_container{
    cell-padding: 15px;
}

.grid {

}

.header{
    float:left;
    margin-top: 20px;
    margin-left: 15px;
}

.item_header {

}

.item_summary{
    font-size: .9em;
    font-family: "quicksand";
}

.item_content{
    font-size: .9em;
    font-family: "quicksand";
}

.supheader {
    font-size: 2.2em;
    font-family: "Orbitron";
    padding-top: 3px;
}

.subheader{
    font-style: italic;
}

.logo {
    position: relative:
    margin-top: 20px;
    right: 10px;
    float: right;
}

.cv_object{
    height:550px;
    width: 480px;
}

.item_footer {
    display: none;
}



.content_segment img {
    width: 120px;
    border-radius: 5px;
}

.content_segment_emoji {
    font-size: 2em;
}

.teach *  img {
    width: 100px;
    border-radius: 5px;
}

.wordcloud img{
    width: 100%;
}

.content_segment iframe {
    display: inline;
}


.videos .item_content {
}

.videos .item_content .content_segment{
    padding-bottom: 35px;
}



.item_header {
/*    background: white;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 1.2em;
    padding-left: .4em;
    font-weight: normal;
    font-size: 1.2em;
    padding-top: 3px;
}

.item_header:hover {
    font-weight: bold;
}



.item_summary {
    padding: .2em;
    position: relative;
    top: 5px;
}

.item_content{
    padding: .2em;
/*    position: relative;*/
}

.item_summary p{
    overflow: hidden;
    text-overflow: "...";
    font-weight: normal;
}

/* added March 22, 2022, for the funky stroked font look */
.grid-item .item_header{
    font-weight: bold;
    color:  white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #34004E;
  -webkit-text-fill-color: #f5eced; /* Will override color (regardless of order) */

background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.75), rgba(255,255,255,0));

}



@media only screen and ( max-width: 760px ) /* 320 <>640px */
{
/*body {background: green;}*/

}


@media only screen and ( max-width: 20em ), only screen and (max-device-width: 500px) /* <320px */
{
/*body {background : yellow;}*/
   

}
