/*
VERSION 1.2
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    background: rgba(170,96,96,0.11);
    color: #FF7A2B;  
}

div {
/*  border: 1px solid black; */
}

.site_container {
  height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
}

.grid-item {
  padding: 10px;
}
.supheader {
    font-size: 2.2em;
    font-family: "Orbitron";
    padding-top: 3px;
}

.subheader{
    font-style: italic;
}

.content_segment img {
    width: 120px;
    border-radius: 5px;
}

.content_segment_emoji {
    font-size: 2em;
}

.teach *  img {
    width: 100px;
    border-radius: 5px;
}

.wordcloud img{
    width: 100%;
}

.content_segment{
  display:inline-block;
}

.item_summary{
  display:none;
}

.item_header{
    font-weight: bold;
    color:  white;
    font-size: 3em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #34004E;
    -webkit-text-fill-color: #f5eced; /* Will override color (regardless of order) */

    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.75), rgba(255,255,255,0));
}


@media only screen and ( max-width: 760px ) /* 320 <>640px */
{
/*body {background: green;}*/

}


@media only screen and ( max-width: 20em ), only screen and (max-device-width: 500px) /* <320px */
{
/*body {background : yellow;}*/
   

}
