
.item_header{
}

.grid-item{
	background-size: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
}

.grid-item .item_header{
	font-weight: bold;
    color:  white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #34004E;

background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.75), rgba(255,255,255,0));

}



.item_header:hover {
    font-weight: normal;
}

.item_header{
	position: relative;
	height: auto;	
}

.slidelamp{
	background-image: url("../images/portfolio/lamp.png");
}
.slidelamp.maxed {
	background-image: none;
}

.makerhub {
	background-image: url("../images/portfolio/donsmilinglaser.jpg");
}
.makerhub.maxed {
	background-image: none;
}

.slideprojector {
	background-image: url("../images/portfolio/projectorimage.jpg");
}
.slideprojector.maxed {
	background-image: none;
}



.metadata-title{
	font-weight: bold;
}

.metadata-value{
	font-style: italic;
}

.metadata {
    padding: .5em;
    border-radius: 10px;
    background-color: #9dd7fb7a;
 margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;    
}

.item_content{
	height: auto;
	margin-top: 15px;
}

.demonstrates{
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    background-color: #b8b8b770;
    padding: 5px;
    margin: 5px;
}

.demonstrates strong {
	    font-size: 1.2em;
}

.design_question{
	font-size:1.5em;
	    font-size: 1.5em;
    width: 33%;
    float: left;
    font-style: italic;
}

/*
.item_slides{
	display: none;
}
*/

.item_slides{
	display: none;
}

.maxed .item_slides {
	display: block;
	width: 80%;
	margin: auto;
	

}
.item_slide {
}

.item_slide img{
	margin: auto;
	width: 100%;
	border-radius: 10px;
}

.item_slide .caption {
	font-style: italic;
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #e61040;
}

.slick-prev:before {
    position: relative;
    left: 0px;
}




.item_nav{
	display: none;
	height: auto;
}

.maxed .item_nav{
	display: none;
	height: auto;
    position: relative;

}
.nextlink{
    display: none;
}

.prevlink{
    display:  none;
}

.maxed .nextlink{
    display: block;

    position: absolute;
    right: 10px;
    
}

.maxed .prevlink{
    display: block;
    
   position: absolute;
   
   left: 10px;

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  border-radius: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    border-radius: 10px;

}

